@model Etickets.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Movie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingMovie.movie.Name)
        </dd>

        <dt>
            Booking Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            Film Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingMovie.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingMovie.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingMovie.Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingMovie.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingMovie.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            Review
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
